$purple: #5c4b9b;
$purple-light: #7c6eaf;
$purple-lighter: #978eb9;
$purple-lightest: #edecf3;
$purple-blue: #4b629b;

$blue: #3949AB;

$grey-dark: #aaa;
$grey: #efefef;
$grey-light: #fefefe;
$white: #fcfcfc;

$black-darker: #282828;
$black: #444;
$yellow: #ffff87;
