$purple: #5c4b9b;
$purple-light: #7c6eaf;
$purple-lighter: #978eb9;
$purple-lightest: #edecf3;

$grey-dark: #aaa;
$grey: #e8e8e8;
$grey-light: #fefefe;
$grey-lightest: #f9f9fb;
$white: #fff;

$black-darker: #282828;
$black: #444;
$yellow: #ffff87;
