@charset 'utf-8';
@import 'particles/colors';
@import 'particles/mixins';
@import 'particles/typography';

$length: 12px;
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
$border-style: $grey 2px solid;

body {
  @include primary-link-style();
  font-family: $body-font;
  color: $black;
  font-size: 16px;
  background-color: $white;
}

h1 {
  margin: $length 0;
  font-family: $header-primary;
  font-size: 2em;
  color: $grey-light;
  text-align: center;
}
h2 {
  margin: 0 0 $length;
  font-family: $header-primary;
  font-size: 1.5em;
  color: $purple;
  text-align: center;
}
h3 {
  margin: 0 0 $length;
  font-size: 1.17em;
  font-family: $header-secondary;
  text-align: center;
  color: $black;
}
h4 {
  margin: 0 0 ($length * 2);
  font-family: $body-font;
  font-size: 1em;
  color: $purple-lighter;
  text-align: center;
}
h5 {
  margin: 0 0 ($length * 2);
  font-family: $header-primary;
  font-size: 1em;
  color: $grey-dark;
  text-align: center;
}

p {
  text-indent: 1.5em;
}


.kana {
  @include border-radius(50%);
  @include background-gradient();
  margin: 0 auto ($length * 2);
  font-size: 400%;
  color: $white;
  text-indent: 0;
  text-align: center;
  background-color: $purple;
  width: 115px;
  height: 115px;
  line-height: 115px;
  box-shadow: 0px 0px 12px $purple-light;
}

.practice-kana {
  font-size: 7em;
  text-indent: 0;
  text-align: center;
  color: $purple;
}

.logo {
  font-size: 2em;
  font-weight: 200;
  span {
    font-weight: 600;
  }
}

ul {
  margin: 0;
  list-style-type: none;
  li {
    display: inline-block;
    text-transform: capitalize;
  }
}

header {
  @include nav-link-style();
  @include background-gradient();
  padding: $length * 1.5;
  font-family: $header-primary;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

nav {
  font-family: $body-font;
  font-size: 1em;
  float: right;
  ul li {
    padding: 0 0 0 ($length * 2);
  }
}

.nav-secondary {
  margin: 0;
  padding: 10px 0;
  background-color: $purple-lightest;
  color: $black;
  font-family: $header-primary;
  font-size: 0.9em;
  border-bottom: lighten($purple, 45%) 2px solid;
}
.nav-secondary ul {
  padding: 0 0 0 ($length * 2);
  li {
    padding: 0 ($length * 1.5) 0 0;
  }
}

.breadcrumb {
  @include secondary-link-style();
  margin: 0;
  padding: ($length / 2) 0 ($length / 2) ($length * 2);
  background-color: lighten($purple-lightest, 3%);
  border-bottom: lighten($purple, 50%) 1px solid;
  font-size: 0.8em;
}

section {
  padding: ($length * 2) 0;
}

.row {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  & > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}

.btn {
  margin: 2px;
  color: $purple;
  background-color: $white;
  border-top: 1px solid $purple-light;
  border-left: 1px solid $purple-light;
  border-bottom: 2px solid $purple;
  border-right: 2px solid $purple;
  border-radius: 0;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $white;
    border: 1px solid $purple-light;
    color: $purple;
  }
}

.highlighted {
  color: green;
}

#alice {
  position: relative;
  // top: (1 * $length);
  width: 100%;
  // min-width: 210px;
  // max-width: 330px;
}

#results-box {
  text-align: center;
}

#user-input-box {
  border: 2px solid $purple;
  width: 2em;
  font-size: 2em;
  text-align: center;
  color: $purple;
  &:focus {
    outline: none;
  }
}

// .col {
//   padding: $length;
// }
//
[class*='col-'] {
  padding-top: $length;
}

#result, #result2 {
  display: block;
  margin: 0 auto;
  width: 50%;
}

#result2 {
  width: 100%;
}

.stats {
  @include border-radius(8px);
  background-color: lighten($purple-lightest, 3%);
  border: lighten($purple, 45%) 2px solid;
  // border-left: $grey 4px solid;
  font-family: $header-primary;
  text-align: center;
  p {
    text-indent: 0;
  }
}

.stats span {
  font-weight: bold;
}

#progress-box {
  // display: flex;
  // justify-content: space-between;
  text-align: center;
  font-size: 1.1em;
}

#progress-box div {
  display: inline-block;
  // padding: 0 33% 0 0;
  width: 30%;
}

.pre-footer {
  @include secondary-link-style();
  margin: 0 0 ($length * 2);
  text-align: center;
  font-size: 16px;
}

footer {
  padding: ($length * 2);
  font-family: $header-primary;
  font-size: 0.9em;
  color: $grey;
  background-color: $black-darker;
}

// $mobile: 768px;
@media screen and (max-width: 600px) {
  header {
    // display: flex;
    flex-wrap: wrap;
  }
  .header-top {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  nav {
    margin: 0 auto;
    ul {
      padding: 0;
      li {
        display: block;
        padding: 0;
      }
    }
  }
  h1 {
    margin: ($length * 2) 0 $length 0 ;
    font-size: 1.5em;
  }
  .logo {
    margin: 0 0 ($length * 2) 0;
    width: 100%;
  }

  nav {
    display: block;
  }
}





/* Hang */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
