body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #444;
  font-size: 16px;
  background-color: #fcfcfc; }
  body a, body a:active, body a:hover, body a:visited {
    color: #5c4b9b;
    text-decoration: none; }
  body a:active, body a:hover {
    color: #7c6eaf; }

h1 {
  margin: 12px 0;
  font-family: "Varela Round", "Arial", sans-serif;
  font-size: 2em;
  color: #fefefe;
  text-align: center; }

h2 {
  margin: 0 0 12px;
  font-family: "Varela Round", "Arial", sans-serif;
  font-size: 1.5em;
  color: #5c4b9b;
  text-align: center; }

h3 {
  margin: 0 0 12px;
  font-size: 1.17em;
  font-family: "Raleway", "Arial", sans-serif;
  text-align: center;
  color: #444; }

h4 {
  margin: 0 0 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1em;
  color: #978eb9;
  text-align: center; }

h5 {
  margin: 0 0 24px;
  font-family: "Varela Round", "Arial", sans-serif;
  font-size: 1em;
  color: #aaa;
  text-align: center; }

p {
  text-indent: 1.5em; }

.kana {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 24px;
  font-size: 325%;
  color: #fcfcfc;
  text-indent: 0;
  text-align: center;
  background-color: #5c4b9b;
  width: 100px;
  height: 100px;
  line-height: 100px; }

.practice-kana {
  font-size: 7em;
  text-indent: 0;
  text-align: center;
  color: #5c4b9b; }

.logo {
  font-family: "Varela Round", "Arial", sans-serif;
  font-size: 2em;
  font-weight: 200; }
  .logo span {
    font-weight: 600; }

ul {
  margin: 0;
  list-style-type: none; }
  ul li {
    display: inline-block;
    text-transform: capitalize; }

#navbar-toggler {
  border: 0 !important; }

header {
  background-color: #5c4b9b;
  padding: 0 0 12px 0;
  font-family: "Varela Round", "Arial", sans-serif; }
  header a, header a:active, header a:hover, header a:visited {
    color: #fcfcfc;
    text-decoration: none; }
  header a:active, header a:hover {
    color: #fff; }

a.nav-link {
  letter-spacing: 0.5px;
  border-radius: 5px; }

button.navbar-toggler {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.075); }

.collapsing a, .collapse.show a {
  text-align: center; }

nav {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1em; }
  nav ul li {
    padding: 0 0 0 6px; }

.nav-secondary {
  padding: 8px 0;
  background-color: #edecf3;
  color: #444;
  font-family: "Varela Round", "Arial", sans-serif;
  font-size: 0.9em;
  border-bottom: #e1ddef 1px solid; }

.nav-secondary ul {
  padding: 0 0 0 18px; }
  .nav-secondary ul li {
    padding: 3px 12px 3px 0; }

.breadcrumb {
  margin: 0;
  padding: 6px 0 6px 18px;
  background-color: #f6f5f9;
  border-bottom: #f0eef7 1px solid;
  font-size: 0.8em; }
  .breadcrumb a, .breadcrumb a:active, .breadcrumb a:hover, .breadcrumb a:visited {
    color: #7c6eaf;
    text-decoration: none; }
  .breadcrumb a:active, .breadcrumb a:hover {
    color: #978eb9; }

section {
  padding: 36px 0; }

.row {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap; }
  .row > [class*='col-'] {
    display: flex;
    flex-direction: column; }

.kana-btn-row {
  display: none; }

.btn-primary {
  margin: 0 auto;
  font-family: "Raleway", "Arial", sans-serif;
  letter-spacing: 1px;
  color: #fcfcfc;
  background-color: #5c4b9b;
  border: 0;
  border-radius: 16px;
  transition: 0.4s all; }
  .btn-primary:focus {
    outline: none; }
  .btn-primary:hover {
    background-color: #7c6eaf;
    cursor: pointer; }

#progress-box .btn {
  font-size: 0.8em; }

.highlighted {
  color: green; }

#alice {
  display: none;
  z-index: -1;
  margin: 0 auto; }

#results-box {
  text-align: center; }

#user-input-box {
  border: 2px solid #5c4b9b;
  width: 2em;
  font-size: 2em;
  text-align: center;
  color: #5c4b9b; }
  #user-input-box:focus {
    outline: none; }

[class*='col-'] {
  padding-top: 12px; }

#result, #result2 {
  display: block;
  margin: 0 auto;
  width: 50%; }

#result2 {
  width: 100%; }

.stats {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  background-color: #f6f5f9;
  border: #e1ddef 2px solid;
  font-family: "Varela Round", "Arial", sans-serif;
  text-align: center; }
  .stats p {
    text-indent: 0;
    margin-bottom: 0.75em; }

.stats span {
  font-weight: bold; }

#progress-box {
  text-align: center;
  font-size: 1.1em; }

#progress-box div {
  display: inline-block;
  width: 30%; }

.pre-footer {
  margin: 0 0 24px;
  text-align: center;
  font-size: 16px; }
  .pre-footer a, .pre-footer a:active, .pre-footer a:hover, .pre-footer a:visited {
    color: #7c6eaf;
    text-decoration: none; }
  .pre-footer a:active, .pre-footer a:hover {
    color: #978eb9; }

footer {
  padding: 24px;
  font-family: "Varela Round", "Arial", sans-serif;
  font-size: 1em;
  color: #efefef;
  background-color: #282828; }

.nav-secondary {
  text-align: center; }
  .nav-secondary li {
    display: block; }

.social-icons ul {
  padding: 0; }
  .social-icons ul li {
    padding: 0 0.5em 0 0;
    color: #aaa;
    font-size: 1.2em; }
    .social-icons ul li:hover {
      color: #efefef;
      cursor: pointer; }
    .social-icons ul li:last-of-type {
      padding: 0; }

footer a, footer a:active, footer a:hover, footer a:visited {
  color: #7c6eaf;
  text-decoration: none; }
footer a:active, footer a:hover {
  color: #978eb9; }

@media screen and (min-width: 474px) {
  .nav-secondary {
    text-align: left; }
    .nav-secondary li {
      display: inline; }

  #breadcrum {
    display: block; } }
@media (min-width: 768px) {
  .kana-btn-row {
    display: flex; }

  #alice {
    display: block; } }

/*# sourceMappingURL=main.css.map */
